*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #c0a483;
}

::selection{
    color: #fff;
    background-color: #c0a483;
}

.header-top{
    position: relative;
    font-size: 13px;
}

.email{
    position: relative;
}

.email::before{
    position: absolute;
    content: "";
    left: 0;
    background: #e2e2e2;
    width: 1px;
    height: 18px;
    top: calc(50% - 9px);
}

.social-media i{
    padding: 0px 8px;
    cursor: pointer;
}

.social-media i:hover{
    color: #c0a483;
}

hr{
    margin: 0;
}

.header-bottom img{
    width: 13%;
}

.header-right{
    position: relative;
}

.header-right i:hover{
    color: #c0a483;
    cursor: pointer;
}

.header-right span{
    position: absolute;
    top: -7px;
    background: #c0a483;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
}

.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile img{
    max-height: 22px;
}

.dropdown{
    cursor: pointer;
}

.dropdown::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 100%;
}

.dropdown span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -5px;
    left: 50%;
    background: #000;
    transform: translateX(-50%);
    transition: 300ms;
}

.dropdown:hover span::before{
    width: 100%;
    height: 1px;
}

.dropdown span{
    position: relative;
}

.dropdown::after{
    content: "\25bc";
    font-size: 10px;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    min-width: 170px;
    z-index: 1;
    padding: 10px 0;
    top: 35px;
}

.dropdown-content a {
    color: #868686;
    padding: 5px 30px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover{
    color: #c0a483;
}

.dropdown:hover .dropdown-content {opacity: 1; visibility: visible;} 

.dropdown-shop{
    min-width: 700px;
    opacity: 0;
    padding: 22px; 
    visibility: hidden;
    position: absolute;
    left: -207px;
    top: 40px;
}

.dropdown-shop a{
    padding: 0;
}

.dropdown-content h5{
    position: relative;
    font-size: 16px;
}

.dropdown-content h5::before{
    position: absolute;
    bottom: -4px;
    width: 40px;
    height: 1px;
    background: #c0a483;
    content: "";
    left: 0;
}

.dropdown-product{
    min-width: 800px;
    opacity: 0;
    padding: 22px; 
    visibility: hidden;
    position: absolute;
    left: -207px;
    top: 40px;
}

.dropdown-product a{
    padding: 0;
}

.dropdown-blog{
    min-width: 950px;
    opacity: 0;
    padding: 22px; 
    visibility: hidden;
    position: absolute;
    left: -207px;
    top: 40px;
}

.dropdown-blog a{
    padding: 0;
}

.dropdown-blog img{
    width: 35%;
}

.dropdown-blog p{
    font-size: 14px;
    color: #868686;
}

.dropdown-content ul{
    margin-top: 13px;
}

.header-bottom-rt{
    position: relative;
}

.header-bottom-rt i{
    margin-left: 15px;
}

.header-bottom-rt i:hover{
    color: #c0a483;
    cursor: pointer;
}

.header-bottom-rt span{
    position: absolute;
    top: -7px;
    right: -1px;
    background: #c0a483;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
}

.header-mobile{
    display: none;
    position: relative;
}

#sidebar{
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: #fff;
    width: 30%;
    height: 100%;
}

#sidebar span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    width: 100%;
    height: 50px;
    background-color: #c0a483;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

#sidebar a{
    padding-left: 10px;
    margin: 10px;
}

#sidebar a:hover{
    color: #000;
}

.main-slider{
    position: relative;
    overflow: hidden;
    padding: 0 10px;
}

.main-slider img{
    height: 500px;
    width: 100%;
}

.main-slider .slider-1{
    position: relative;
}

.main-slider .slider-1 .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.main-slider .slider-1 .text h2{
    font-size: 56px;
}

.main-slider .slider-1 .text p{
    font-size: 19px;
}

.main-slider .slider-1 .text button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 30%;
    height: 40px;
    transition: .5s;
}

.main-slider .slider-1 .text button:hover{
    background-color: #c0a483;
    border: 2px solid #c0a483;
}

.main-slider .slider-2{
    position: relative;
}

.main-slider .slider-2 .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.main-slider .slider-2 .text h2{
    font-size: 56px;
}

.main-slider .slider-2 .text p{
    font-size: 19px;
}

.main-slider .slider-2 .text button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 30%;
    height: 40px;
    transition: .5s;
}

.main-slider .slider-2 .text button:hover{
    background-color: #c0a483;
    border: 2px solid #c0a483;
}

.main-slider .slick-next{
    right: 50px;
}

.main-slider .slick-next::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.main-slider .slick-prev{
    left: 50px;
    z-index: 11111111;
}

.main-slider .slick-prev::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.section-1 .top span{
    color: #c0a483;
}

.section-1 .image{
    position: relative;
}

.section-1 .image img{
    width: 100%;
    object-fit: contain;
    transition: .5s;
}

.section-1 .image img:hover{
    filter: grayscale(100%);
    cursor: pointer;
}

.section-1 .image h5{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 58px;
    line-height: 58px;
    width: 125px;
    text-align: center;
}

.section-2{
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner9.jpg);
    margin: 50px 0;
    height: 700px;
}

.section-2 .text{
    text-align: center;
    padding: 40px;
}

.section-2 .text span{
    color: #c0a483;
}

.section-2 .product{
    margin: 0 10px;
}

.section-2 .product-img img{
    width: 100%;
}

.section-2 .product-text{
    text-align: center;
    margin-top: 10px
}

.section-2 .product-text p:first-child{
    font-size: 12px;
    cursor: pointer;
}

.section-2 .product-text p:first-child:hover{
    color: #c0a483;
}

.section-2 .product-text p:last-child{
    color: #c0a483;
    font-size: 16px;
}

.section-2 .product-text del{
    color: #868686;
    font-size: 14px;
}

.section-2 .slider .product-img{
    position: relative;
}

.section-2 .slider .product-img .product-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: -10px;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 400ms;
}

.section-2 .slider .product-img:hover .product-button{
    visibility: visible;
    opacity: 1;
    right: 0;
}

.section-2 .slider .product-button i{
    margin: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .slider .product-button i:hover{
   color: #fff;
   background-color: #c0a483;
   border: 1px solid #c0a483;
}

.section-2 .slider span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #c0a483;
    color:#fff;
    text-align: center;
    width: 50px;
}

.section-2 .slider .product-img p{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #b12a2a;
    color:#fff;
    text-align: center;
    width: 50px;
}

.section-3{
    position: relative;
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner8.jpg);
    height: 250px;
    background-position: bottom center;
}

.section-3 p{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 34px;
    color: #fff;
    width: 90%;
}

.section-3 p span{
    color: #c0a483;
}

.section-3 button{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    background-color: #a12626;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 18px;
    font-size: 12px;
}

.section-3 button:hover{
    background-color: #c0a483;
}

.section-4{
    margin: 30px 0;
}

.section-4 .text{
    text-align: center;
    padding: 40px;
}

.section-4 .text span{
    color: #c0a483;
}

.section-4 .product{
    margin: 0 10px;
}

.section-4 .product-img img{
    width: 100%;
}

.section-4 .product-text{
    text-align: center;
    margin-top: 10px
}

.section-4 .product-text p:first-child{
    font-size: 12px;
    cursor: pointer;
}

.section-4 .product-text p:first-child:hover{
    color: #c0a483;
}

.section-4 .product-text p:last-child{
    color: #c0a483;
    font-size: 16px;
}

.section-4 .product-text del{
    color: #868686;
    font-size: 14px;
}

.section-4 .top-sellers-slider .product-img{
    position: relative;
    border: 1px solid grey;
}

.section-4 .top-sellers-slider .product-img .product-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: -10px;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 400ms;
}

.section-4 .top-sellers-slider .product-img:hover .product-button{
    visibility: visible;
    opacity: 1;
    right: 0;
}

.section-4 .top-sellers-slider .product-button i{
    margin: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 .top-sellers-slider .product-button i:hover{
    color: #fff;
    background-color: #c0a483;
    border: 1px solid #c0a483;
}

.section-4 .top-sellers-slider span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #c0a483;
    color:#fff;
    text-align: center;
    width: 50px;
}

.section-4 .top-sellers-slider .product-img p{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #b12a2a;
    color:#fff;
    text-align: center;
    width: 50px;
}


.section-4 .slick-next{
    right: 20px;
}

.section-4 .top-sellers-slider:hover .slick-next::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.section-4 .slick-prev{
    left: 20px;
    top: 50%;
    z-index: 11111111;
}

.section-4 .top-sellers-slider:hover .slick-prev::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.section-5{
    height: 250px;
    align-items: center;
    display: flex;
    background-color: #882424;
    margin: 0 10px;
}

.section-5 .icon svg{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 25px;
}

.section-6{
    margin: 30px 0;
}

.section-6 .text{
    text-align: center;
    padding: 40px;
}

.section-6 .text span{
    color: #c0a483;
}

.section-6 .product{
    margin: 0 10px;
}

.section-6 .product-img img{
    width: 100%;
}

.section-6 .product-text{
    text-align: center;
    margin-top: 10px
}

.section-6 .product-text p:first-child{
    font-size: 12px;
    cursor: pointer;
}

.section-6 .product-text p:first-child:hover{
    color: #c0a483;
}

.section-6 .product-text p:last-child{
    color: #c0a483;
    font-size: 16px;
}

.section-6 .product-text del{
    color: #868686;
    font-size: 14px;
}

.section-6 .top-sellers-slider .product-img{
    position: relative;
    border: 1px solid grey;
}

.section-6 .top-sellers-slider .product-img .product-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: -10px;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 400ms;
}

.section-6 .top-sellers-slider .product-img:hover .product-button{
    visibility: visible;
    opacity: 1;
    right: 0;
}

.section-6 .top-sellers-slider .product-button i{
    margin: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-6 .top-sellers-slider .product-button i:hover{
    color: #fff;
    background-color: #c0a483;
    border: 1px solid #c0a483;
}

.section-6 .top-sellers-slider span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #c0a483;
    color:#fff;
    text-align: center;
    width: 50px;
}

.section-6 .top-sellers-slider .product-img p{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #b12a2a;
    color:#fff;
    text-align: center;
    width: 50px;
}


.section-6 .slick-next{
    right: 20px;
}

.section-6 .top-sellers-slider:hover .slick-next::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.section-6 .slick-prev{
    left: 20px;
    top: 50%;
    z-index: 11111111;
}

.section-6 .top-sellers-slider:hover .slick-prev::before{
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}

.section-7{
    position: relative;
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner10.jpg);
    height: 300px;
    background-size: cover;
}

.section-7 .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}

.section-7 i{
    font-size: 50px;
}

.section-7 input{
    border: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.section-7 .email{
    width: 90%;
}

.section-7 .submit{
    margin-left: 10px;
}

.section-7 .submit:hover{
    color: #c0a483;
}

::placeholder{
    color: #fff;
}

.icon{
    text-align: center;
    color: #fff;
}

.icon svg{
    fill: #fff;
    border: #fff;
}

.icon p{
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}

.icon .bottom{
    font-size: 14px;
}

.section-8 .image{
    border: 1px solid #868686;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.section-8 .image img{
    width: 50%;
    transition: .5s;
}

.section-8 .image:hover img{
    transform: scale(1.1);
}

.section-8 .top span{
    color: #c0a483;
}

.footer-top{
    padding: 20px;
    background-color:#F6F6F6;
}

.footer-bottom{
    padding: 10px;
    background-color:#F6F6F6;
}

.footer-bottom span{
    color: #868686;
    font-size: 14px;
}

.footer-top h5{
    font-size: 16px;
    padding: 15px 0;
}

.footer-top li{
    font-size: 14px;
    color: #868686;
    cursor: pointer;
}

.footer-top li:hover{
    color: #c0a483;
}

.footer-top .contact strong{
    color: #000;
    cursor: default;
}

.footer-top .contact li:hover{
    color: #868686;
    cursor: text;
}

.footer-top .social-media{
    margin-top: 10px;
}

.footer-top .social-media i{
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.footer-top .social-media i:hover{
    color: #fff;
    background-color: #c0a483;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .footer-top{
        display: block !important;
    }
    .footer-bottom{
        display: block !important;
        text-align: center;
    }
}

@media only screen and (max-width: 992px){
    .header-top{
        display: none;
    }
    .header-bottom{
        display: none;
    }
    header hr{
       display: none;
    }
    .header-mobile{
        display: flex;
    }
}

@media only screen and (max-width: 1200){
    .header-top{
        display: block;
    }
    .header-bottom{
        display: block;
    }
    header hr{
       display: block;
    }
}